:root {
    --main-color: #ffb5b5;
    --secondary-color: #9b0000;
    --primary-background: #eee;
    --default-background: #573391;
    --red-background: #9b0000;
    --blue-background: #1c658c;
    --green-background: #789395;
    --standard-color: white;
    --standard-text-color: black;
    --form-border-color: #c7c7c7;
    --about-text-color: #90a4ae;
    --blog-content-color: #596067;
}

a {
    color: var(--standard-color);
}

.switch-style {
    background-color: var(--main-color);
}

.secondary-button,
.navbar,
.header .header-links .icon span,
.primary-button:hover {
    background-color: var(--main-color);
}

.header .header-links ul a,
.copyrights,
.copyrights .container .col i,
.copyrights .container .col {
    color: var(--main-color);
}

.primary-button,
.secondary-button:hover,
.header,
.copyrights {
    background-color: var(--secondary-color);
}

.primary-button,
.secondary-button,
.subscribe .subscribe-button,
#default-color,
#red-color,
#green-color,
#blue-color {
    color: var(--standard-color);
}

i,
.navbar,
.navbar a,
.about,
.service,
.contact,
.footer,
.hot-links li a,
a,
.blog-header,
.blog-card-content h5,
.error,
.terms .terms-content .container,
.partners h1 {
    color: var(--secondary-color);
}

.about,
.service-image,
.service .full-container .container .service-item,
.contact,
.header .links .icon span,
.about-footer,
#first,
#third,
.first-blog,
.third-blog,
.error,
.terms,
.partners {
    background-color: var(--primary-background);
}

.service,
.footer {
    background-color: var(--standard-color);
}

.map,
.subscribe input,
.blog-card-link a::after {
    border-color: var(--secondary-color);
}

.form textarea,
.form input {
    border-color: var(--form-border-color);
}

#default-color {
    background-color: var(--default-background);
}

#red-color {
    background-color: var(--red-background);
}

#blue-color {
    background-color: var(--blue-background);
}

#green-color {
    background-color: var(--green-background);
}

#default-color:hover {
    color: var(--standard-text-color);
    background-color: var(--standard-color);
}

#red-color:hover {
    color: var(--standard-text-color);
    background-color: var(--standard-color);
}

#blue-color:hover {
    color: var(--standard-text-color);
    background-color: var(--standard-color);
}

#green-color:hover {
    color: var(--standard-text-color);
    background-color: var(--standard-color);
}

.share-content p i {
    border-color: var(--secondary-color);
}

.share-content p i {
    color: var(--about-text-color);
}

.share-content p {
    color: var(--about-text-color);
}

.blog-card-content p {
    color: var(--blog-content-color);
}
